/* Not the real colors name */
:root {
  --dark-blue: #003c43;
  --blue: #135d66;
  --teal: #77b0aa;
  --light-blue: #e3fef7;
  --white: #fffcf1;
  /* Use the following page for changing svg color 
     https://codepen.io/sosuke/pen/Pjoqqp */
  --svg-white: invert(90%) sepia(2%) saturate(1567%) hue-rotate(331deg)
    brightness(103%) contrast(119%);
}

body {
  height: 98vh;
  margin: 1vh 0;
  box-sizing: border-box;
  display: grid;
  background-color: var(--blue);
  font-family: "Times New Roman", Times, serif;
}

hr {
  width: 90%;
}

a {
  text-decoration: none;
  columns: var(--blue);
  &:visited {
    color: var(--blue);
  }
  &:hover,
  :focus,
  :active {
    font-weight: bold;
  }
}

h1 {
  margin: 10px;
}

ul {
  width: 100%;
  text-align: left;
}

li {
  margin-bottom: 6px;
}

main {
  display: grid;
  justify-self: center;
  max-width: 600px;
  width: 100%;
  height: auto;
  margin-top: 10px;
  background-color: var(--light-blue);
  grid-template-columns: 40% 60%;
  grid-template-rows: repeat(6, auto);
}

.profile,
.contacts,
.education,
.languages,
.blank {
  background-color: var(--dark-blue);
  box-sizing: border-box;
  height: auto;
  padding: 10px 10px 0 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
  grid-column-start: 1;
}

section h1 {
  text-align: center;
}

.blank {
  height: 100%;
}

.profile_img {
  width: 50%;
  border-radius: 50%;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 30px;
  margin-bottom: 8px;
}

.contact img {
  height: 80%;
  filter: var(--svg-white);
}

#github {
  filter: invert(100%) sepia(12%) saturate(237%) hue-rotate(240deg)
    brightness(113%) contrast(100%);
}

.projects,
.tech-stack,
.about-me,
.hobbies {
  grid-column-start: 2;
  margin: 0 15px;
}

.projects {
  grid-row-start: 1;
  grid-row-end: 3;
}

.tech-stack {
  grid-row-start: 3;
}

.skill-container {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.skill {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px 8px;
  background-color: var(--teal);
  border-radius: 15px;
  height: 22px;
  font-size: 16px;
}

.skill img {
  height: 100%;
}

.about-me {
  grid-row-start: 4;
}

.hobbies {
  grid-row-start: 5;
}

@media (max-width: 500px) {
  html,
  body {
    margin: 0;
  }

  main {
    margin: 0;
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, auto);
  }

  section {
    box-sizing: border-box;
    width: 100%;
  }

  .projects,
  .tech-stack,
  .about-me,
  .hobbies {
    margin: 0;
    grid-column-start: 1;
  }

  ul {
    width: 80%;
  }

  .profile {
    background-color: var(--light-blue);
    color: black;
    grid-row-start: 1;
  }

  .profile hr {
    display: none;
  }

  .projects {
    grid-row-start: 2;
  }

  .tech-stack {
    grid-row-start: 3;
  }

  .about-me {
    grid-row-start: 4;
  }

  .hobbies {
    grid-row-start: 5;
  }

  .contacts {
    grid-row-start: 6;
  }

  .education {
    grid-row-start: 7;
  }

  .languages {
    grid-row-start: 8;
  }
}
